body{
    margin: 0;
    padding: 0;
}
._s_link{
    text-decoration: none; 
    color: black;
  }
  .setting-one-body{
    padding:5px;
    margin-top:5px;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #cbcbcb;
    background-image: linear-gradient(#f1f1f1,white,white,#f8f8f8);
}
  .setting-one-body .setting-heading{
   font-size: 18px;
   font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 4px 0px;
  }
  .setting-one-body .setting-description{
   font-size: 13px;
   font-family: 'Montserrat', sans-serif;
    margin: 5px 0px 6px 0px;
  }
  .setting-detail{
    display: flex;
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .setting-detail .setting-icon{
    width:50px;
    padding:10px;
    font-size: 30px;
  }
  .setting-detail .setting-name{
    padding:10px;
  }
  .setting-detail .setting-name .setting-title{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
  }
  .setting-detail .setting-name .title-des{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
  }